.cartIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #80472a;
    color: white;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
.cartTitle {
  font-family: "Ermilov", sans-serif;
}

  .cartOverlay {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 90vw;
    height: 100%;
    background-color: #ffecc8;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .cartContent {
    display: flex;
    flex-direction: column;
    height: 95%;
  }
  
  .cartList {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Добавлено, чтобы прокручивались только товары */
    font-family: Arial, Helvetica, sans-serif;
}
  
.cartItem {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #5b3624;
}

.productImage img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.cartDetails {
  display: flex;
  flex-direction: column;
}

.itemPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.quantityControls {
  display: flex;
  gap: 5px;
}

.controlButton {
  background: #5b3624;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.controlButton:hover {
  background: #764938;
}

  
  .cartTotal {
    margin: 20px 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
  }

  .cartItemTitle {
    margin-bottom: 2px;
  }
  
  .orderButton,
  .clearButton, 
  .closeButton {
      background-color: #5b3624;
      color: white;
      padding: 10px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;
      width: 100%;
      margin-bottom: 10px;
      font-family: "Ermilov", sans-serif;
  }

  .clearButton:hover, 
  .closeButton:hover {
      background-color: #764938;
  }

  .orderButton {
    background-color: rgb(1, 177, 10);
  }

  .orderButton:hover {
    background-color: rgb(80, 207, 69);
  }
  
  .clearButton {
      margin-top: auto; /* Эта кнопка прижмется к низу */
  }

  .orderModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
  }
  
  .orderModal {
    background-color: #ffecc8;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 80vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .orderModal h1 {
    margin: 0;
    font-family: "Ermilov", sans-serif;
  }

  .orderTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }
  
  .orderForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .orderForm p {
margin-bottom: 0;
  }

  .orderFormText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .orderForm label {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: bold;
  }

  .orderForm input {
margin-left: 5px;
border-radius: 2px;
border: 0px;
  }

  .orderForm select {
    margin-left: 5px;
    border-radius: 2px;
border: 0px;
      }
  
  .paymentButton {
    background-color: rgb(1, 177, 10);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Ermilov", sans-serif;
  }

  .paymentButton:hover {
    background-color: rgb(80, 207, 69);
  }
  
  .closeModalButton {
    background-color: #5b3624;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Ermilov", sans-serif;
  }

  .closeModalButton:hover {
    background-color: #764938;
  }
  
  @media screen and (max-width: 480px) {
    .orderForm label {
      font-size: 16px;
      width: 80%;
    }
  }

  @media screen and (max-width: 425px) {
    .orderForm label {
      width: 90%;
    }
  }

  @media screen and (max-width: 375px) {
    .orderForm label {
      font-size: 14px;
      width: 100%;
    }
  }
  
