/* Logo */
.logo_container {
    display: flex;
    justify-content: center;
    padding-top: 200px;
  }
  
  .logo_image {
    width: 80vw;
    height: 100%;
    max-width: 436px;
    max-height: 450px;
    border-radius: 20px;
  }

  @media screen and (max-width: 540px) {
    .logo_container {
      padding-top: 260px;
    }
  }