.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffecc8;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    box-sizing: border-box; /* Учитываем padding в ширине */
  }
  
.card:hover {
    transform: scale(1.05);
  }

  .image {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-bottom: 12px;
    border-radius: 10px;
  }
  
  .name {
    font-size: 16px;
    margin: 8px 0;
    font-family: "Ermilov", sans-serif;
  }
  
  .price {
    font-size: 18px;
    color: #ff0000;
    margin: 8px 0;
    font-family: "Ermilov", sans-serif;
  }
  
  .button {
    color: #FBEBCE;
    background: #5b3624;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Ermilov", sans-serif;
  }
  
  .button:hover {
    background: #472b1e;
  }

/* Модальное окно */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #ffecc8;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.modalTitle {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Ermilov", sans-serif;
}

.modalDescription {
  font-size: 16px;
  color: #555;
  font-family: "Arial", sans-serif;
}

.modalIngredients {
  font-size: 16px;
  color: #555;
  font-family: "Arial", sans-serif;
}

.closeButton {
  margin-top: 20px;
  padding: 8px 12px;
  border: none;
  background-color: #5b3624;
  color: #FBEBCE;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: "Ermilov", sans-serif;
}

.closeButton:hover {
  background-color: #3e2518;
}